<li>
  <a href="http://www.saron.se/goteborg/studentprasterna" title="Saronkyrkan">
    <img style="padding: 5px" src="/assets/img/organizer_logos/saron.gif" />
  </a>
</li>
<li>
  <a href="https://www.betlehemskyrkan.se/" title="Betlehemskyrkan">
    <img style="padding: 5px" src="/assets/img/organizer_logos/betlehemskyrkan.png" />
  </a>
</li>
<li>
<li>
  <a href="https://www.svenskakyrkan.se/goteborg/studentprasterna" title="Studentprästerna i Göteborg">
    <img style="padding: 5px" src="/assets/img/organizer_logos/svenskakyrkan.png" />
  </a>
</li>
<li>
  <a href="https://www.smyrna.se/" title="Smyrnakyrkan">
    <img style="padding: 5px" src="/assets/img/organizer_logos/smyrna.png" />
  </a>
</li>
<li>
  <a href="https://equmeniakyrkan.se/kungsport/" title="Equmeniakyrkan Kungsport">
    <img style="padding: 5px" src="/assets/img/organizer_logos/equmenia_kungsport.png" />
  </a>
</li>
<li>
  <a href="https://www.raddningsmissionen.se/" title="Göteborgs Räddningsmission">
    <img style="padding: 5px" src="/assets/img/organizer_logos/raddningsmissionen.png" />
  </a>
</li>
