<li>
  <a href="http://www.saron.se/" title="Saronkyrkan">
    <img class="organizer-logo" src="/assets/img/organizer_logos/saron.gif" />
  </a>
</li>
<li>
  <a href="https://www.betlehemskyrkan.se/" title="Betlehemskyrkan">
    <img class="organizer-logo" src="/assets/img/organizer_logos/betlehemskyrkan.png" />
  </a>
</li>
<li>
<li>
  <a href="https://www.svenskakyrkan.se/goteborg/studentprasterna" title="Studentprästerna i Göteborg">
    <img class="organizer-logo" src="/assets/img/organizer_logos/svenskakyrkan.png" />
  </a>
</li>
<li>
  <a href="https://www.smyrna.se/" title="Smyrnakyrkan">
    <img class="organizer-logo" src="/assets/img/organizer_logos/smyrna.png" />
  </a>
</li>
<li>
  <a href="https://equmeniakyrkan.se/kungsport/" title="Equmeniakyrkan Kungsport">
    <img class="organizer-logo" src="/assets/img/organizer_logos/equmenia_kungsport.png" />
  </a>
</li>
<li>
  <a href="https://www.raddningsmissionen.se/" title="Göteborgs Räddningsmission">
    <img class="organizer-logo" src="/assets/img/organizer_logos/raddningsmissionen.png" />
  </a>
</li>
<li>
  <a href="https://bilda.nu/" title="Studieförbundet Bilda">
    <img class="organizer-logo" src="/assets/img/organizer_logos/bilda.png" />
  </a>
</li>
<li>
  <a href="http://www.navigatorerna.se/" title="Navigatörerna">
    <img class="organizer-logo" src="/assets/img/organizer_logos/navigatorerna.png" />
  </a>
</li>
<li>
  <a href="https://www.dagen.se/nod/" title="Tidskriften NOD">
    <img class="organizer-logo" src="/assets/img/organizer_logos/nod.png" />
  </a>
</li>
<li>
  <a href="https://www.evangeliskabrodraforsamlingen.se" title="Evangeliska Brödraförsamlingen i Göteborg">
    <img class="organizer-logo" src="/assets/img/organizer_logos/EBG.png" />
  </a>
</li>
<li>
  <a href="https://www.svenskakyrkan.se/goteborg/studentprasterna" title="Universitetskyrkan i Göteborg">
    <img class="organizer-logo" src="/assets/img/organizer_logos/universitetskyrkan.jpg" />
  </a>
</li>
