.list-table {
  display: table;
  margin-bottom: 1em;
  border-collapse: separate;
  border-spacing: 0.3em;
}

.list-row {
  display: table-row;
}

.list-cell {
  display: table-cell;
  vertical-align: middle;
}

.list-text {
  text-align: left;
}

.list-button {
  margin: 0.2em 0.2em 0.2em 1.2em;
  padding: 0.1em 0.4em;
  text-align: center;
}
